<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Quizzical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <link rel="icon" th:href="${favicon}">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/lazy.css" rel="stylesheet">
    <link href="/css/demo.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" rel="stylesheet">
</head>
<body class="index">
<th:block th:include="~{views/fragments/teacherheader}"></th:block>

<main id="page-container" role="main" class="pt-5">
    <div class="row" id="content-wrap">
        <th:block th:include="~{views/fragments/bubbles}"></th:block>

        <th:block th:include="~{views/fragments/teachersidebar}"></th:block>

        <div class="col-12 col-md-9 ml-md-5">

            <div class="container-fluid">
                <div class="col-12 offset-md-2 col-md-8 row">
                    <form th:action="@{/createquiz}" th:method="POST" th:object="${quizCreateBindingModel}">
                        <div class="component">
                            <div class="card mb-3 mt-3">
                                <div class="card-header text-warning" style="font-size: xx-large">
                                    <i class="fas fa-folder-plus"></i>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Quiz Details</h4>
                                    <p class="card-text">
                                        <span class="text-primary mr-1"></span>
                                    </p>
                                </div>
                                <div class="card-footer pb-5">
                                    <div><label for="name">Name</label></div>
                                    <div class="input-group">
                                        <input type="text" id="name" th:errorclass="alert-danger" th:field="*{caption}" class="form-control" placeholder="name" data-val="true" data-val-length="The Name must be at least 3 and at max 30 characters long.">
                                    </div>
                                    <label for="schoolClassName" class="col-sm-2 col-form-label">Group</label>
                                    <div class="dropdown">

                                        <select class="form-control" id="schoolClassName"  th:field="*{schoolClassName}">
                                            <option th:each="group : ${groups}"
                                                    th:value="${group.name}"
                                                    th:text="${group.name}"></option>
                                        </select>
                                    </div>

                                    <label for="duedate" class="col-sm-2 col-form-label">Due date</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="duedate" th:field="*{dueDate}"
                                               th:errorclass="is-invalid"
                                               aria-describedby="createdHelpInline">
                                        <small id="createdTimeHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                            Created date cannot be in the past.
                                        </small>
                                    </div>

                                    <label for="points" class="col-sm-2 col-form-label">Answers count</label>

                                    <div class="dropdown">

                                        <select class="form-control btn btn-outline-primary" id="count"  th:field="*{answerCount}">
                                            <option th:each="i:${answersDropdown}" class="dropdown-item" th:value="${i}" th:text="${i}"></option>

                                        </select>
                                    </div>
                                    <span class="text-danger"></span>

                                    <label for="points" class="col-sm-2 col-form-label">Questions count</label>

                                    <div class="dropdown">

                                        <select class="form-control btn btn-outline-primary" id="points" th:field="*{questionsCount}">
                                            <option th:each="i:${questionsDropdown}" class="dropdown-item" th:value="${i}" th:text="${i}"></option>

                                        </select>
                                    </div>

                                    <div class="row mx-4 text-white">
                                        <button id="addQuiz" type="submit" class="btn btn-primary col-md-5 mt-5">Add Questions...</button>
                                        <div class="col-1 mr-4"></div>
                                        <a class="btn btn-primary col-md-5 mt-5">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</main>



<footer class="footer-1 bg-light text-dark pt-2">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div class="copyright text-center">
                <p class="small mb-0">© 2022, made with <span class="text-danger"><i class="fas fa-heart"></i></span> by VKastreva</p>
            </div>
            <div class="links">
                <ul class="footer-menu list-unstyled d-flex flex-row text-center text-md-left">
                    <li>
                        <a href="/Administration">
                            Home
                        </a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>






<div class="tox tox-silver-sink tox-tinymce-aux" style="position: relative;"></div>


</body>

</html>