<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>Quizzical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <link rel="icon" th:href="${favicon}">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/lazy.css" rel="stylesheet">
    <link href="/css/demo.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" rel="stylesheet">
<body class="index" >
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-white">
        <a class="navbar-brand text-primary ml-4" href="/hometeacher">
            Quizzical
        </a>
        <button class="navbar-toggler collapsed bg-primary" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7" aria-controls="navbarNavDropdown-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
            <ul class="navbar-nav ml-auto mx-2">
                <li class="nav-item">
                    <a class="btn btn-outline-primary ml-2" title="Manage" href="/teacherprofile">
                        <i class="fas fa-address-card"></i>
                        Profile
                    </a>
                </li>
                <li class="nav-item text-primary">
                    <form class="form-inline"  method="post">
                        <a class="btn btn-outline-primary ml-2" th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Dgdl0Inw3NFo_uXWyBLYshDaH7WT8L3-dpwGXBCzFN3hhkXR5XtrW-wEtVLxv9sGynkpIURnA6uiNvfTCpS2WAjmk_kG9r8yrDEvnlqVlLAdfdxf-mRvHOcdNYpasV-2rhohe2hPu8Vk-wgXqF7Q9rixrq1xgiMSbRllSKHpPGKqJLDJ9rndhKpIL-WhmTImA"></form>
                </li>
            </ul>
        </div>
    </nav>
</header>


<main id="page-container" role="main" class="pt-5">
    <div class="row" id="content-wrap">
        <th:block th:include="~{views/fragments/bubbles}"></th:block>

        <div id="side-bar" class="col-12 col-md-2 border-right ml-2">
            <ul class="navbar-nav text-center">
                <li class="nav-item active">
                    <form class="mb-2">
                        <button class="btn btn-primary manage-account-btn" formaction="/hometeacher">Home</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form class="my-2">
                        <button class="btn btn-primary manage-account-btn" formaction="/allresults">Results</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form class="my-2">
                        <button class="btn btn-primary manage-account-btn" formaction="/createdgroups">Groups</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form class="my-2">
                        <button class="btn btn-primary manage-account-btn" formaction="/createdquizzes">Quizzes</button>
                    </form>
                </li>
                <li class="nav-item active">
                    <form class="my-2">
                        <button class="btn btn-primary manage-account-btn" formaction="/allstudents">Students</button>
                    </form>
                </li>
            </ul>
        </div>



        <div class="col-12 col-md-9 ml-md-5">

            <div class="col-12 offset-md-2 col-md-8 row">

                <form id="form" th:method="post" class="col-12" th:action="@{/createquestion}" th:object="${questionCreateBindingModel}">
                    <div class="component">
                        <th:block  th:each="question, ind: *{questionDTOS}">
                            <div class="card mb-3">
                                <div class="card-header text-warning" style="font-size: xx-large">
                                    <i class="fas fa-folder-plus"></i>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Add New Question</h4>
                                    <p class="card-text" style="display: block;">
                                        <span class="text-primary mr-1">∗</span>
                                        Name of the question can not be blank!
                                    </p>
                                </div>
                                <div class="card-footer pb-5">
                                    <div><label for="Name">Name</label></div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="name"  th:value="*{questionDTOS[__${ind.index}__].text}" th:field="*{questionDTOS[__${ind.index}__].text}" id="Name" value="">
                                    </div>
                                    <input type="hidden" th:value="${question.quizName}" th:field="*{questionDTOS[__${ind.index}__].quizName}" >

                                    <span class="text-danger"></span>

                                    <label for="points" class="col-sm-2 col-form-label">Points</label>

                                    <div class="dropdown">

                                        <select class="form-control btn btn-outline-primary" id="points" th:field="*{questionDTOS[__${ind.index}__].points}">
                                            <option th:each="i:${pointsDropdown}" class="dropdown-item" th:value="${i}" th:text="${i}"></option>

                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="component">
                                <div class="card mb-3 mt-3">
                                    <div class="card-header text-warning" style="font-size: xx-large">
                                        <i class="fas fa-folder-plus"></i>
                                    </div>

                                    <div class="card-body">
                                        <h4 class="card-title">Describe Answers: </h4>
                                        <p class="card-text" style="display: block;">
                                            <span class="text-primary mr-1">∗</span>
                                            Mark the correct answer with the radio button
                                        </p>
                                        <p class="card-text">
                                            <span class="text-primary mr-1"></span>
                                        </p>
                                    </div>
                                    <!--                                    <div th:text="*{questionDTOS[__${ind.index}__].answers[0]}"></div>-->
                                    <div class="card-footer pb-5" th:each="answer, ind2:${question.answers}">
<!--                                        <div th:text="*{questionDTOS[__${ind.index}__].answers[__${ind2.index}__].isCorrectAnswer}"></div>-->
                                        <div>
                                            <div><label for="answer">Answer option:</label></div>
                                            <div class="input-group" id="answer">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <input type="checkbox" aria-label="Radio button for following text input" th:checked="*{questionDTOS[__${ind.index}__].answers[__${ind2.index}__].isCorrectAnswer}" th:field="*{questionDTOS[__${ind.index}__].answers[__${ind2.index}__].isCorrectAnswer}">
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" aria-label="Text input with radio button" th:value="${answer.content}"
                                                       th:field="*{questionDTOS[__${ind.index}__].answers[__${ind2.index}__].content}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </th:block>

                        <div class="row mx-1 text-white">
                            <button id="addQuestion" type="submit" class="btn btn-primary col-md-5 mt-5">Add Questions</button>
                            <div class="col-1 mr-4"></div>
                            <a id="cancel" class="btn btn-primary col-md-5 mt-5" href="/Administration">Cancel</a>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>
</main>








</body>

</html>