<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quizzical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <link href="/static/img/logo.png" rel="icon" type="image/png">
    
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/lazy.css">
		<link rel="stylesheet" href="/static/css/demo.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
  </head>
  <body class="index">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="fa fa-exclamation-circle"></i>
        <strong>On no!</strong> If you want to assign quizzes to this category, you should choose some!
    </div>

<div class="col-12 offset-md-1 col-md-8 row">
    <form method="post" class="col-11 ml-4">

        <div class="card mb-3 mt-3">
            <div class="card-header text-warning" style="font-size: xx-large">
                <i class="fas fa-folder-plus"></i>
            </div>
            <div class="card-body">
                <h4 class="card-title">Assign Quizzes to Model.Name</h4>
                <input type="hidden" />

                <p class="card-text" style="display: block;">
                    <span class="text-primary mr-1">∗</span>
                    You can always edit it later.
                </p>
            </div>
            <div class="card-footer">
                <div class="component">
                            <div class="form-group mb-0">
                                <div class="mt-2">
                                    
                                    <h6 class="d-inline-block mt-0 ml-1">quiz.Name</h6>
                                  
                                </div>
                            </div>
                    
                   
                        <p>There are currently no unassigned quizzes.</p>
                        <a >Create new.</a>
                    
                </div>
            </div>
            <div class="row mx-4 mb-4 text-white">
                    <button type="submit" class="btn btn-primary col-md-5 mt-5">Add Quizzes</button>
                    <div class="col-1 mr-4"></div>
                <a href="" class="btn btn-primary col-md-5 mt-5">Skip</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>