<html xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <title>Quizzical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A new design system for developing with less effort.">
    <meta name="author" content="BootstrapBay">

    <link rel="icon" th:href="${favicon}">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/css/lazy.css" rel="stylesheet">
    <link href="/css/demo.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" rel="stylesheet">


</head>
<body class="index" data-new-gr-c-s-check-loaded="14.1071.0" data-gr-ext-installed="">

<th:block th:include="~{views/fragments/studentheader}"></th:block>

<main id="page-container" role="main" class="pt-5">
    <div class="row" id="content-wrap">
        <th:block th:include="~{views/fragments/bubbles}"></th:block>

        <th:block th:include="~{views/fragments/studentsidebar}"></th:block>

        <div class="col-12 col-md-9 ml-md-5">


            <nav class="navbar navbar-expand-lg navbar-dark bg-neutral p-2">
                <div class="container">
                    <h5 class="mb-0">Quizzes Management</h5>
                    <button class="navbar-toggler collapsed bg-primary" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-3" aria-controls="navbarNavDropdown-3" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse text-center collapse" id="navbarNavDropdown-3">

                    </div>
                </div>
            </nav>
            <table class="table table-hover mb-0">
                <thead>
                <tr class="table-active bg-white">
                    <th scope="col">Name</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Group</th>
                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody>
                <tr class="table-warning" th:each="quiz:${quizzes}">
                    <th scope="row" class="pt-4" th:value="${quiz.caption}" th:text="${quiz.caption}">aaaa</th>
                    <td class="pt-4" th:value="${quiz.dueDate}" th:text="${#temporals.format(quiz.dueDate, 'dd/MM/yyyy')}">31.07.2022</td>
                    <td class="pt-4" th:value="${quiz.schoolClassName}" th:text="${quiz.schoolClassName}"></td>
                    <td class="pt-4" th:value="${quiz.caption}" th:if="${quiz.dueDate.plusDays(1).atStartOfDay().isAfter(#temporals.createNow())}">
                        <form class="component  navbar-expand-lg text-right">
                                <ul class="navbar-nav ml-auto">
                                <li class="nav-item m-1">
                                    <a class="nav-link  btn btn-warning" th:href="@{|/takequiz?quizName=${quiz.caption}|}">
                                        <i class="fas fa-question">
                                            <span class="text-primary">Take Quiz</span>
                                        </i>
                                    </a>
                                </li>
                                </ul>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>






    </div>
    </div>
</main>


<th:block th:include="~{views/fragments/studentfooter}"></th:block>

</body></html>